:root {
    --accent-text-color: #7db8e7;
    --text-color: #124559;
    --light-text-color: #F0F4EF;
    --main-bg-color: #B4CDED;
    --accent-bg-color: #709775;
    --accent-color: #FFA825;
}

html,
body,
nav,
header,
main {
    margin: 0 !important;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

nav {
    overflow-x: hidden;
    width: 100vw;
    background: linear-gradient(var(--accent-text-color) 5%,
            var(--main-bg-color) 75%);
    color: var(--text-color);
    font-weight: 700;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

nav>ul {
    width: 100%;
    margin: 0;
    padding-left: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

nav li {
    display: inline;
}

nav a {
    color: var(--text-color);
    font-size: 1.75rem;
    text-decoration: none;
    width: fit-content;
}
.navList{
    flex: 1;
    padding: 0;
    justify-content: center;
    text-align: center;
}
.navLogo {
    flex: 1.5;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.logoText {
    padding-left: 2.6%;
    font-size: 4rem;
    transition: 0.2s;
}
nav #headerLogo {
    transition: 0.2s;
    width:50%;
    max-width: 150px;
}

header *,
main * {
    scroll-margin-top: 150px;
}

header {
    display: flex;
    padding-bottom: 10rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--main-bg-color);
    position: relative;
    width: 100%;
    overflow: hidden;
}

header>div {
    flex: 2;
}

header {
    font-weight: 400;
}

header p {
    font-size: 1.25rem;
}

.callToAction{
    text-align: left;
    font-size: 2.5rem;
    font-weight: 300;
}

.callToAction b {
    font-weight: 500;
}

header div.left > div {
    width: 50%;
    margin: 0 auto;
}

header>div.right {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header h1,
header h2 {
    text-align: center;
    font-weight: 500;
}

header img {
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section {
    text-align: center;
}

main.sponsors > div {
    flex: 2;
}

main.sponsors > div.right {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main h1,
main h2,
main h3 {
    text-align: center;
    font-weight: 500;
}

main h2 {
    font-size: 2.5rem;
}

main h3 {
    font-size: 2rem;
}

main section {
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 8vh;
}

main section p {
    font-size: 1.25rem;
    font-weight: 300;
}

main img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 75%;
}

main.home p {
    text-align: center;
}

main.home img {
    width: 50%;
    max-width: 300px;
}

header img {
    width: 75%;
}

.sponsor {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.sponsor > div {
    flex: 1;
}

.sponsorsContainer {
    display: flex;
    flex-direction: column;
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subheader {
    text-align: center;
}

.mainRecruit{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    font-size: 1.2rem;
}