body {
    overflow-x: hidden;

}

.section {
    min-height: 100vh;
    width: 100vw;
    color: black;
    padding: 100px;
    box-sizing: border-box;
    z-index: -99;
}

.section:not(.header) {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.section h1 {
    width: 50%;
    display: block;
    font-size: 4rem;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: left;
}

.section p {
    width: 50%;
    font-size: 1.25rem;
    text-align: left;
}

.section h3 {
    width: 50%;
    display: block;
    font-size: 2.75rem;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: left;
}

.canvas-container {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    z-index: -99999;
}

@media (min-width: 1000px) {
    .spacer {
        height: 0;
        width: 0;
        display: none;
    }
}

@media (max-width: 999px) {
    .spacer {
        height: 50vh;
    }

    .section {
        min-height: max-content;
        padding-left: 10%;
        padding-top: 5vh;
        padding-bottom: 0vh;
        padding-right: 10%;
    }

    .section h3 {
        width: 100%;
    }

    .section p {
        width: 100%;
    }
}