:root {
    --accent-text-color: #7db8e7;
    --text-color: #124559;
    --light-text-color: #F0F4EF;
    --main-bg-color: #B4CDED;
    --accent-bg-color: #709775;
    --accent-color: #C90603;
}

html, body {
    overflow-x: hidden;
}

html, body, nav, header, main {
    margin: 0 !important;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
}

nav {
    width: 100%;
    background: linear-gradient(
        var(--accent-text-color) 5%,
        var(--main-bg-color) 75%
    );
    color: var(--text-color);
    font-weight: 700;
}

nav > ul {
    width: 100%;
    margin: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

nav li {
    display: inline;
}

nav a {
    color: var(--text-color);
    font-size: 1.75rem;
    text-decoration: none;
}

header {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--main-bg-color);
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 7.5rem;
}

main > div {
    flex: 2;
}

main > div.right {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main h1,
main h2 {
    text-align: center;
}

main img {
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
section {
    text-align: center;
}
main {
    display: flex;
    padding: 2rem;
    padding-bottom: 3rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #FFF;
    position: relative;
    width: 100%;
    overflow: hidden;
}

main > div {
    flex: 2;
}

main > div.right {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main h1,
main h2 {
    text-align: center;
}

main img {
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sponsor{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
.sponsor > div{
    flex: 1;
}
.parentsponsor{
    display: flex;
    flex-direction: column;    
}

.centerImg{

    display: block;
  margin-left: auto;
  margin-right: auto;

}
.subheader{
    text-align: center;
}